<div class="row-fluid span12">
    <div class="tabbable">
		<h3>SIO Reaction Settings</h3>
        <ul class="nav nav-tabs" id="siocontrol_tabs">
			<li class="active"><a data-toggle="tab" href="#SIOReactions">Reactions</a></li>
            <li><a data-toggle="tab" href="#sior_Help">Help</a></li>
		</ul>
		<div class="tab-content">
            <div id="sior_Help" class="tab-pane">
                <div class="row-fluid">
                    Each reaction is run seperatly and each line in the commans of the Reaction is run seperately. They are run in the order that they are entered into the list. 
                    You can add more than one reaction for the same SIOControl Configured IO point.
                    Note that you can only select IO points that have been configured in the SIOControl Plugin. 
                    GCODE reactions ignore the IO# (pin) setting and use the first line in the command list as the gcode 
                    used to trigger the reaction. 
                </div>
                <div class="row-fluid">
                    <h4>Command formating:</h4>
                </div>  
                <div class="row-fluid">
                    One command per new line in the command text box. Each command line must be prefixed with 
                    2 characters that indicate what type of command it is.
                </div>
                <div class="row-fluid">
                    <div class="span12"></div>
                    <div class="span12">"IO": Manupulate an IO point. This is only valid for configured output types.</div>
                    <div class="span12">
                        <div class="span4">Example (turns on IO point 11):</div><div class="span8 border"><strong>IO 11 on</strong></div>
                    </div>    
                    <div class="span12">IO supported actions 'on','off', and 'toggle'</div>
                    <div class="span12"></div>
                    <div class="span12">"GC": Send GCode to GCode queue. </div> 
                    <div class="span12">
                        <div class="span4">Example (sends gcode to gcode queue):</div><div class="span8 border"><strong>GC M118 Text for Printer</strong></div>
                    </div>    
                    <div class="span12"></div>
                    <div class="span12">React to sent GCode</div> 
                    <div class="span12">
                        <div class="span4">Example (detects gcode "M80" was sent to OctoPrint and turns on IO pin 11):</div><div class="span8 border"><strong>M80<br/>IO 11 on</strong></div>
                    </div>    
                    <div class="span12"></div>
                    <div class="span12">"WT": Add a wait time(seconds) during command list execution.</div>
                    <div class="span12">
                        <div class="span4">General use case: Example (causes a 10 second delay):</div><div class="span8 border"><strong>WT 10</strong></div>
                    </div>    
                    <div class="span12"></div>
                    <div class="span12">
                        <div class="span4">Example (turns on an IO point 13 and then waits 5 seconds and turns it off again):</div>
                        <div class="span8 border"><p><strong>IO 13 on</strong><br/><strong>WT 5</strong><br/><strong>IO 13 off</strong></p></div>
                    </div>
                    <div class="span12"></div>
                    <div class="span12"></div>



                </div>
            </div>

            <div id="SIOReactions" class="tab-pane active" >
                <div class="span12 ">
                    <div class="row-fluid">
                        Add a row below for each reaction you want to create. 
                    </div>
                    <div class="row-fluid">
                        You can add multiple commands to a reaction. One command per line.  When configuring GCode Command reactions, the first command must be the GCode that the reaction will react to. 
                        Command Lines must follow proper prefixing and format (See Help Tab).
                    </div>
                    <div class="row-fluid"> </div>
                    <div class="row-fluid">
                        Note that you can only select IO points that have been configured in the SIOControl Plugin.
                    </div>    
                </div>
                <div class="span12 ">
                    <div class="span2"><h4>Name</h4></div>
                    <div class="span2"><h4>SIO Point</h4></div>
                    <div class="span2"><h4>React to</h4></div>
                    <div class="span5"><h4>Commands</h4></div>
                    <div class="span1"><h4></h4></div>
                </div>
                <div data-bind="foreach: vmsioreactions">
                        <div class="row-fluid siocontrol-settings-row">
                            <div class="span2">
                                <input class="siocontrol_textName" type="text" data-bind="value: Name"/>
                            </div>            
                            <div class="input-prepend span2">
                                <select class="btn-group span12" data-bind="options: $parent.getConfiguredIO(),
                                                                            optionsText: 'name',
                                                                            optionsValue: 'pin',
                                                                            value: Pin">

                                </select>
                            </div>
                            <div class="input-prepend span2">
                                <select class="btn-group span12" data-bind="value: RType">
                                    <option value="NONE">NONE</option>
                                    <option value="INPUT_CHANGE">In Change</option>
                                    <option value="INPUT_ACTIVE">In Active</option>
                                    <option value="INPUT_NOT_ACTIVE">In Not Active</option>
                                    <option value="OUTPUT_CHANGE">Out Change</option>
                                    <option value="OUTPUT_ACTIVE">Out Active</option>
                                    <option value="OUTPUT_NOT_ACTIVE">Out Not Active</option>
                                    <option value="GCODE">GCode Command</option>
                                </select>
                            </div>
                            
                            <div class="input-prepend span5">
                                <textarea rows="2" class="input-block-level" data-bind="value: Commands" ></textarea>
                            </div>
                            <div class="span1">
                                <a title="Remove SIO Configuration" class="btn btn-danger" data-bind="click: $parent.removeReaction">
                                    <i class="icon-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                <div class="row-fluid" >
                    <div class="offset11 span1">
                        <a title="Add Reaction" class="btn btn-primary" data-bind="click: addReaction"><i class="icon-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>