<div class="row-fluid span12">
    <div class="tabbable">
		<h3>SIO Reaction Settings</h3>
        <ul class="nav nav-tabs" id="siocontrol_tabs">
			<li class="active"><a data-toggle="tab" href="#SIOReactions">Reactions</a></li>
            <li><a data-toggle="tab" href="#sior_Help">Help</a></li>
		</ul>
		<div class="tab-content">
            <div id="sior_Help" class="tab-pane">
                <div class="row-fluid">

                    <p>Reactions are small scripts that can be run when an event happens. Each script runs separately. If 2 scripts are triggered by the same event they will run almost simultaneously. Each reaction has a name this must be unique. Try to make it a little descriptive but not too long, 16 or lesss characters is a good lengh. Each reaction script must react to something. There are several types of events that can be used as the reaction trigger. Each reaction has an associated script. Some scripts are a simple list of commands. Others take parameters from the first line of the script and run the rest of the script.</p>
                    
                    <h2>Reaction Types</h2>
                    <ul>
                        <li><strong>In Active:</strong> Runs the reaction script when the selected SIO point is an Input and its state becomes active. Can only be used with configured Input SIO points.</li>
                        <li><strong>In Not Active:</strong> Runs the reaction script when the selected SIO point is an Input and its state becomes active. Can only be used with configured Input SIO points.</li>
                        <li><strong>In Change:</strong> Runs the reaction script when the selected SIO point changes state. Can only be used with configured Input SIO points.</li>
                        <li><strong>NONE:</strong> Disables the reaction script. wiht nothing to trigger it, it will never be triggered.</li>
                        <li><strong>Out Active:</strong> Runs the reaction script when the selected SIO point is an Input and its state becomes active. Can only be used with configured Output SIO points.</li>
                        <li><strong>Out Not Active:</strong> Runs the reaction script when the selected SIO point is an Input and its state becomes active. Can only be used with configured Output SIO points.</li>
                        <li><strong>Out Change:</strong> Runs the reaction script when the selected SIO point changes state. Can only be used with configured Output SIO points.</li>
                        <li><strong>GCode Command:</strong> Runs the reaction script when a specific GCode* command is seen being sent to the printer. The command that triggers the reaction is taken from the first line in the script. The SIO Point is not used for this reaction. The selected SIO Point value will be ignored.</li>
                        <li><strong>Repeated Timer:</strong> Runs the reaction script at an interval. The interval is set in seconds and is set using the first line in the script. It can be an integer between 1 and 86400. All subsequent commands are run at this repeating interval. The selected SIO Point value will be ignored. The intervals are not real time. They may vary slightly depending on the load and power of your compute device.</li>
                    </ul>
                    
                    <h2>Reaction Script Commands</h2>
                    <ul>
                        <li><strong>Set IO state {IO}:</strong> <i style="color: #005580;">Format: IO [sio point number] [on off toggle].</i><br/>Use the IO command to set the state of a configured SIO digital output point. You can set it to on, off or toggle.<br/>Example: IO 11 on<br/>Sets SIO Point 11 active.</li>
                        <li><strong>Send Gcode command {GC}:</strong> <i style="color: #005580;">Format: GC [gcode command].</i><br/>This command will send the gcode command listed to the printer.<br/>Example: GC M118 Reaction triggered<br/>Send M118 gcode command to the printer with the text “Reaction triggered”.</li>
                        <li><strong>Wait {WT}:</strong> <i style="color: #005580;">Format: WT [integer 1-86400].</i><br/>Example: WT 5 <br/>Script execution will wait 5 seconds before continuing to the next line in the script.</li>
                        <li><strong>Temperature control {TC}:</strong><i style="color: #005580;"> Format: TC InIO:[DHT sio point number] OnAt:[int -10 to 200] OffAt:[int -10 to 200] OutIO: [sio point number].</i><br/>Example: TC InIO:4 OnAt:55 OffAt:65 OutIO:12<br/>Sets a temperature region for a DHT sensor on SIO 4. It will set the SIOPoint 11 Active when the temp falls below 55°C and will set it to InActive when the temperature reaches 65°C.</li>
                        <!--<li><strong>Message UI {MU}:</strong><i style="color: #005580;"> Format: MU [message text].</i><br/>Example: MU Reaction was triggered.<br/>Pops up a message in the OctoPrint UI with the text “Reaction was triggered”.</li>-->
                    </ul>
                </div>
            </div>


            <div id="SIOReactions" class="tab-pane active" >
                <div class="span12 ">
                    <div class="row-fluid">
                        Add a row below for each reaction you want to create. 
                    </div>
                    <div class="row-fluid">
                        You can add multiple commands to a reaction. One command per line.  When configuring GCode Command reactions, the first command must be the GCode that the reaction will react to. 
                        Command Lines must follow proper prefixing and format (See Help Tab).
                    </div>
                    <div class="row-fluid"> </div>
                    <div class="row-fluid">
                        Note that you can only select IO points that have been configured in the SIOControl Plugin.
                    </div>    
                </div>
                <div class="span12 ">
                    <div class="span2"><h4>Name</h4></div>
                    <div class="span2"><h4>SIO Point</h4></div>
                    <div class="span2"><h4>React to</h4></div>
                    <div class="span5"><h4>Commands</h4></div>
                    <div class="span1"><h4></h4></div>
                </div>
                <div data-bind="foreach: vmsioreactions">
                        <div class="row-fluid siocontrol-settings-row">
                            <div class="span2">
                                <input class="siocontrol_textName" type="text" data-bind="value: Name"/>
                            </div>            
                            <div class="input-prepend span2">
                                <select class="btn-group span12" data-bind="options: $parent.getConfiguredIO(),
                                                                            optionsText: 'name',
                                                                            optionsValue: 'pin',
                                                                            value: Pin">

                                </select>
                            </div>
                            <div class="input-prepend span2">
                                <select class="btn-group span12" data-bind="value: RType">
                                    <option value="NONE">NONE</option>
                                    <option value="INPUT_CHANGE">In Change</option>
                                    <option value="INPUT_ACTIVE">In Active</option>
                                    <option value="INPUT_NOT_ACTIVE">In Not Active</option>
                                    <option value="OUTPUT_CHANGE">Out Change</option>
                                    <option value="OUTPUT_ACTIVE">Out Active</option>
                                    <option value="OUTPUT_NOT_ACTIVE">Out Not Active</option>
                                    <option value="GCODE">GCode Command</option>
                                    <option value="TIMER">Repeated Timer</option>
                                </select>
                            </div>
                            
                            <div class="input-prepend span5">
                                <textarea rows="2" class="input-block-level" data-bind="value: Commands" ></textarea>
                            </div>
                            <div class="span1">
                                <a title="Remove SIO Configuration" class="btn btn-danger" data-bind="click: $parent.removeReaction">
                                    <i class="icon-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                <div class="row-fluid" >
                    <div class="offset11 span1">
                        <a title="Add Reaction" class="btn btn-primary" data-bind="click: addReaction"><i class="icon-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>